@model searcher.Utils.HTMLTOPDF.Searcher.Respuesta
@{
    ViewBag.Title = "Index2";
}
<style type="">

</style>


<nav>
    <ul>
   @*     @foreach (var item in Model.text)
	    {
            <li>@item</li>		 
	    }        *@
        <li>
            <input type="text" id="buscador" placeholder="Buscar"/>
        </li>
        @foreach (var item in Model.ubicacion)
	    {
            <li data-pag="@item.pagina" data-left="@item.coordenada" >
                <div class="barra"></div> 
                <p class="menu"> @item.cadenas </p>
            </li>		 
	    }    
    </ul>
</nav>
<hr />




@Model.coincidences
<hr />
<object data="data:application/pdf;base64,@Convert.ToBase64String(Model.file)"
        width="100%" height="300" type="application/pdf">     
</object>

<hr />

<iframe src="@Url.Action("getFile", new { type = "pdf" })#toolbar=0&navpanes=0&view=FitH&page=5" width="60%" height="300">

</iframe>

<hr />

<object data="@Url.Action("getFile", new { type = "pdf" })#&view=FitH&page=5" type="application/pdf" width="100%" height="300">   
</object>
