@model searcher.Utils.HTMLTOPDF.Searcher.Respuesta
@{
    ViewBag.Title = "searcher v 0.0.1";
}

<div id="contenedor" class="container">
    <div class="row">
        <div class="col-sm-3" style="    overflow-y: hidden;">
            <nav class="row side-nav">
                <ul>
                    <li>
                        @using(Html.BeginForm()){
                            <div class="input-group fecha_group">
                                <input type="text" name="text" id="buscador" placeholder="Buscar" value="@ViewBag.text" />
                                <span class="input-group-addon search">
                                    @*<i class="fa fa-search"></i>*@<img src="~/Content/search.png" />
                                </span>
                            </div>                             
                        }      
                    </li>

                    @if(Model != null && Model.filesInfo.Count() > 0 ) {
                        foreach (var item in Model.filesInfo)
                        {
                            <li><p> @item.FileName.Split(new string[]{ @"\" }, StringSplitOptions.RemoveEmptyEntries).Last() </p></li>
                            <ul>
                                @foreach(var i in item.MatchesList)
                                {
                                <li data-bind="click: Change" id="btnMove" data-pag="@i.Page" data-filename="@item.FileNameOut.Split(new string[]{ @"\" }, StringSplitOptions.RemoveEmptyEntries).Last()" >
                                    <div class="barra"></div>
                                    <p style="padding-left:25px;" class="menu">@i.Page - @i.Line </p>
                                </li>		 
                                }
                            </ul>
                            
                        }
                    }else{
                        <li>                            
                            <br />
                            <p class="menu" style="text-align: center">No se encontraron resultados</p>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        <div class="col-sm-9">
            <div class="row">
                <h3>Nombre del archivo</h3>
                <hr />
                <div class="embed-responsive embed-responsive-4by3 side-nav-frame-p">
                    <iframe id="vizor" class="embed-responsive-item side-nav-frame" data-bind="attr: { src: src }"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{    
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script>

        var viewModel = {
          
            src: ko.observable(""),
            fileNameko: ko.observable(""),
            paramsUriKO: ko.observable("?nameFile="),
            uriKO: ko.observable("@Url.Action("getFile")"),
            pageKO: ko.observable(@String.Format("{0}", (Model != null && Model.ubicacion != null && Model.ubicacion.Count>0) ? Model.ubicacion.First().pagina : 0)),
            pdf_paramasKO: ko.observable('#toolbar=0&navpanes=0&zoom=80&page='),
            pdf_Rectangle: ko.observable("&highlight=200,400,100,200"),
            Change: function (t, e) {
                var target;
                if (e.currentTarget) target = e.currentTarget;
                var self = this;
                if (this.pageKO() != $(target).data("pag")) {                    
                    $("#vizor").fadeOut("slow", function () {
                        $("#vizor").attr("src", "");
                        self.src("");
                        self.pageKO($(target).data("pag"));
                        self.fileNameko($(target).data("filename"));
                        setTimeout(function () {
                            self.src(self.srcKO());
                        }, 1);
                        $("#vizor").fadeIn();
                    });
                } else{
                    $("#vizor").fadeOut("slow", function () {
                        $("#vizor").fadeIn();
                    });
                }
            }
        };
        viewModel.srcKO = ko.dependentObservable(function () {            
            return this.uriKO() + this.paramsUriKO() + this.fileNameko() + this.pdf_paramasKO() + this.pageKO() + this.pdf_Rectangle();
        }, viewModel);

        ko.applyBindings(viewModel);

        $(document).ready(function () {
            $("#btnMove").on("click", function () {

            });

            $(".search").on("click", function () {
                $("form").submit();
            });
            inicio();
            inicioFrame();
            inicioPadding();
            $(window).resize(function () {
                inicio();
                inicioFrame();
                inicioPadding();
            });

            if (viewModel.pageKO()>0)
                $("#vizor").attr("src", viewModel.srcKO());
        });
    </script>
}
